/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 2 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/roboto.woff2") format("woff2"),
	url("../fonts/roboto.woff") format("woff");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/robotomedium.woff2") format("woff2"),
	url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/robotobold.woff2") format("woff2"),
	url("../fonts/robotobold.woff") format("woff");
}

/* Variables */
:root {
	--black: #000000;
	--grey-900: #283136;
	--grey-800: #444444;
	--grey-750: #4d4d4d;
	--grey-700: #666666;
	--grey-600: rgba(68, 68, 68, 0.5);
	--grey-550: rgba(0, 0, 0, 0.3);
	--grey-500: #b4b9bb;
	--grey-470: #c1c1c1;
	--grey-450: #d5d5d5;
	--grey-415: #dadada;
	--grey-410: #dbdbdb;
	--grey-400: #dfdfdf;
	--grey-300: #d7dcde;
	--grey-250: rgba(0, 1, 1, 0.1);
	--grey-200: #e1e1e1;
	--grey-100: #eeeeee;
	--white-active: rgba(255, 255, 255, 0.3);
	--white: #ffffff;
	--red-active: #d7373b;
	--red-hover: #e74246;
	--red: #fb565a;
	--green-active: #00aa62;
	--green-hover: #00bc6c;
	--green: #00ca74;
	--yellow-active: #e5a722;
	--yellow-hover: #eab534;
	--yellow: #efc849;
}

/* global */
*, *::before, *::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

address {
	font-style: normal;
}

img {
	display: block;
	max-width: 100%;
}

p {
	margin: 0 0 1em;
}

.body {
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: var(--grey-900);
	background-color: var(--white);
	min-width: 1200px;
	display: -ms-grid;
	display: grid;
	grid-template-areas:
        "header"
        "content"
        "footer";
	-ms-grid-rows:
		-webkit-min-content
		1fr
		-webkit-min-content;
	grid-template-rows:
        -webkit-min-content
        1fr
        -webkit-min-content;
	-ms-grid-rows:
		min-content
		1fr
		min-content;
	grid-template-rows:
        min-content
        1fr
        min-content;
	min-height: 100vh;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.header {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	background-color: var(--grey-100);
	width: 100%;
	padding-top: 47px;
	grid-area: header;
}

.main-header {
	background-color: var(--grey-100);
	width: 100%;
	min-height: 234px;
	display: -ms-grid;
	display: grid;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-bottom: 37px;
	margin-bottom: 37px;
	margin-top: 0;
}

.main-header-wrapper {
	text-align: center;
}

.title-uppercase {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--black);
	margin: 0 0 16px;
}

.title-uppercase a {
	text-decoration: none;
	color: var(--black);
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.button {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--white, #ffffff);
	background-color: var(--red, #fb565a);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-width: 160px;
	max-width: 240px;
	height: 50px;
	border: none;
	border-radius: 3px;
	padding-top: 2px;
	cursor: pointer;
}

.button:hover {
	background-color: var(--red-hover);
}

.button:active {
	background-color: var(--red-active);
	color: var(--white-active);
	-webkit-box-shadow: inset 0 3px 0 var(--grey-250);
	box-shadow: inset 0 3px 0 var(--grey-250);
}

.button:focus {
	outline: 2px solid var(--grey-750);
	outline-offset: 0;
}

/* main */
.main {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	grid-area: content;
	padding-bottom: 40px;
}

.main__title {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: var(--black);
	margin: 0 auto;
	max-width: 1000px;
	text-align: center;
}

/* menu */
.main-nav {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 160px 40px 1fr 40px 160px;
	grid-template-columns: 160px 1fr 160px;
	gap: 40px;
}

.main-nav__list {
	list-style: none;
	margin: 0;
	padding: 13px 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.main-nav__item {
	padding: 0 10px;
}

.header__logo {
	-ms-grid-column-align: left;
	justify-self: left;
	height: 66px;
}

.header__logo:hover img {
	opacity: 0.7;
}

.header__logo:focus {
	outline: none;
}

.header__logo:focus img,
.header__logo:active img {
	opacity: 0.3;
}

.main-nav__link,
.main-nav__cart a {
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--black);
	text-decoration: none;
	display: inline-block;
	padding: 15px 13px;
}

.main-nav__cart {
	margin-top: 13px;
}

.main-nav__cart a {
	position: relative;
	padding-left: 40px;
	padding-right: 0;
	float: right;
}

.main-nav__cart a::before {
	content: '';
	width: 15px;
	height: 15px;
	position: absolute;
	top: 21px;
	left: 0;
	background-image: url("../img/icons/cart.svg");
}

.main-nav__cart.current a {
	border-bottom: solid 2px var(--red);
}

.main-nav__link:hover,
.main-nav__cart a:hover {
	color: var(--red);
}

.main-nav__link:active,
.main-nav__cart a:active {
	color: var(--grey-550);
}

.main-nav__link:focus,
.main-nav__cart a:focus {
	color: var(--red);
	outline: none;
}

.main-nav__link.current {
	padding-bottom: 0;
}

.main-nav__link.current::after {
	content: '';
	display: block;
	border-bottom: solid 2px var(--red);
	margin-top: 11px;
}

/* pagination */
.pagination {
	list-style: none;
	padding: 0;
	margin: 0 0 9px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.pagination li {
	margin-right: 11px;
	margin-bottom: 11px;
}

.pagination__link:last-child {
	margin-right: 0;
	margin-bottom: 0;
}

.pagination__link {
	font-weight: 500;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	min-width: 50px;
	height: 50px;
	padding: 0 7px;
	background: var(--grey-100);
	color: var(--black);
	border-radius: 3px;
	text-decoration: none;
}

.pagination__link:hover {
	background: var(--grey-400);
}

.pagination__link:focus {
	outline: 2px solid var(--grey-750);
	outline-offset: 0;
}

.pagination__link:active {
	background: var(--grey-450);
	-webkit-box-shadow: inset 0 3px 0 var(--grey-250);
	box-shadow: inset 0 3px 0 var(--grey-250);
	color: var(--grey-550);
}

.pagination__link.current {
	background: transparent;
	border: 3px solid var(--grey-410);
	color: var(--black);
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: default;
}

.pagination .button {
	width: 260px;
}

/* slider */
.slider {
	background-color: var(--grey-100);
	margin: 0 auto;
	position: relative;
}

.slider__item {
	display: none;
	background-position: 397px bottom;
	background-size: 760px 431px;
	background-repeat: no-repeat;
	width: 100%;
	height: 424px;
}

.slider__item.current {
	display: block;
}

.slider__item--1 {
	background-image: url("../img/slide-1.jpg");
}

.slider__item--2 {
	background-image: url("../img/slide-2.jpg");
}

.slider__item--3 {
	background-image: url("../img/slide-3.jpg");
}

.slider__title {
	font-weight: 500;
	font-size: 55px;
	line-height: 56px;
	margin: 0 0 36px;
	padding-top: 70px;
	max-width: 550px;
}

.slider__text {
	max-width: 410px;
	margin: 0 0 26px;
	line-height: 25px;
}

.slider__button {
	-ms-grid-row: 3;
	-ms-grid-row-span: 1;
	grid-row: 3/4;
}

.slider__button:focus {
	outline: 2px solid var(--grey-750);
	outline-offset: 0;
}

.slider-controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: auto;
	position: absolute;
	bottom: 96px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.slider-controls button {
	width: 18px;
	height: 18px;
	border: none;
	border-radius: 50%;
	background-color: var(--white);
	cursor: pointer;
	position: relative;
	margin: 0 11px 0 6px;
}

.slider-controls button:hover::before,
.slider-controls button[href]:focus::before,
.slider-controls .current::before {
	content: '';
	width: 8px;
	height: 8px;
	top: 5px;
	left: 5px;
	position: absolute;
	background-color: var(--white);
	border: 2px solid var(--grey-470);
	border-radius: 50%;
}

.slider-controls button:focus {
	outline: 2px solid var(--grey-750);
	outline-offset: 0;
}

.slider-controls .current {
	cursor: default;
}

/* service */
.service {
	padding-top: 80px;
}

.service__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0 0 40px;
}

.service__item {
	width: 300px;
	margin-right: 100px;
	margin-bottom: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.service__item:last-child {
	margin-right: 0;
}

.service__item::before {
	content: '';
	display: block;
	width: 300px;
	height: 146px;
	margin-bottom: 25px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 300px 146px;
}

.service__item--laptop::before {
	background-image: url("../img/laptop.png");
}

.service__item--telephones::before {
	background-image: url("../img/telephones.png");
}

.service__item--flipchart::before {
	background-image: url("../img/flipchart.png");
}

.service__title {
	font-size: 24px;
	line-height: 30px;
}

.service__img {
	width: 300px;
	margin-bottom: 25px;
}

.service__text {
	margin-bottom: 32px;
}

.service__button {
	margin-top: auto;
	width: 160px;
}

/* about */
.about {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 35px 1fr 35px 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	-webkit-column-gap: 35px;
	-moz-column-gap: 35px;
	column-gap: 35px;
	row-gap: 24px;
	border-top: 2px solid var(--grey-100);
	padding-top: 39px;
	border-bottom: 2px solid var(--grey-100);
	padding-bottom: 50px;
}

.about-text {
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-column: 1 / 3;
}

.about__title {
	font-weight: 500;
	font-size: 45px;
	line-height: 46px;
	color: var(--black);
	margin: 33px 0;
}

.title-center {
	text-align: center;
}

.about__subtitle {
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 23px;
}

.about__list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.about__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.about__item:not(:last-child) {
	padding-bottom: 24px;
}

.about__item::before {
	content: '';
	display: inline-block;
	width: 25px;
	height: 2px;
	margin-right: 10px;
	background-color: var(--red);
}

/* infographics */
.about__feature {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0;
	padding-top: 7px;
	padding-bottom: 23px;
}

.about__feature dd {
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-row: 2 / 3;
	margin-left: 0;
}

.about-infographics--illustration {
	background: url("../img/nerds-illustration.png") 1px 0 / cover no-repeat;
	width: 360px;
	height: 208px;
}

.about-infographics__title {
	font-weight: bold;
	font-size: 45px;
	line-height: 64px;
	color: var(--black);
	margin-bottom: 13px;
}

.about-infographics__title sup {
	font-size: 26px;
	line-height: 40px;
}

.about-infographics__text {
	line-height: 18px;
}

.button--green {
	background-color: var(--green);
}

.button--green:hover {
	background-color: var(--green-hover);
}

.button--green:active {
	background-color: var(--green-active);
	color: var(--white-active);
	-webkit-box-shadow: inset 0 3px 0 var(--grey-250);
	box-shadow: inset 0 3px 0 var(--grey-250);
}

.button--yellow {
	background-color: var(--yellow);
}

.button--yellow:hover {
	background-color: var(--yellow-hover);
}

.button--yellow:active {
	background-color: var(--yellow-active);
	color: var(--white-active);
	-webkit-box-shadow: inset 0 3px 0 var(--grey-250);
	box-shadow: inset 0 3px 0 var(--grey-250);
}

/* clients */
.clients {
	border-bottom: solid 2px var(--grey-100);
	margin-bottom: 40px;
}

.clients__list {
	list-style: none;
	padding-left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 21px -20px 12px -22px;
}

.clients__item {
	-ms-flex-preferred-size: 300px;
	flex-basis: 300px;
	position: relative;
	text-align: center;
}

.clients__item::after {
	content: '';
	width: 2px;
	height: 52px;
	background-color: var(--grey-100);
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.clients__item:nth-child(4n)::after,
.clients__item:last-child::after {
	background-color: transparent;
}

.clients__link {
	display: block;
	padding: 25px 0;
}

.clients__img {
	opacity: 0.2;
	display: inline-block;
}

.clients__link:hover .clients__img {
	opacity: 1;
}

.clients__link:focus .clients__img {
	opacity: 1;
}

.clients__link:active .clients__img {
	opacity: 0.1;
}

/* catalog */
.catalog-wrapper {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 40px 1fr 40px 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	column-gap: 40px;
}

.filter {
	padding: 18px 0 0;
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	grid-column: 1 / 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 2;
	grid-row: 1 / 3;
	color: var(--grey-900);
}

.form-filter {
	width: 260px;
}

.form-filter fieldset {
	padding: 0;
	border: 0;
	margin: 0 0 28px;
}

.range-controls {
	width: 100%;
	height: 80px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: var(--grey-100);
	border-radius: 3px;
	padding: 0 20px;
	margin-bottom: 14px;
}

.range-controls .scale {
	width: 100%;
	height: 2px;
	background: var(--grey-300);
}

.range-controls .bar {
	width: 100%;
	height: 2px;
	background-color: var(--green);
}

.range-controls .toggle-wrapper {
	width: 205px;
	position: relative;
}

.range-controls .toggle {
	position: absolute;
	top: -9px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid #ffffff;
	border-radius: 50%;
	background-color: var(--grey-300);
	-webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.range-controls .toggle-min {
	left: 0;
}

.range-controls .toggle-max {
	left: 100%;
}

.filter-price {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 26px;
}

.filter-price__label {
	text-transform: uppercase;
}

.filter-price__input {
	width: 80px;
	height: 38px;
	line-height: 34px;
	background-color: var(--grey-100);
	border: var(--grey-100) solid 2px;
	border-radius: 3px;
	margin-left: 8px;
	text-align: center;
	color: inherit;
	text-transform: inherit;
}

.filter-price__input:hover {
}

.filter-price__input:focus {
	border-color: var(--grey-750);
	outline: none;
}

.filter .title-uppercase {
	margin-bottom: 14px;
}

.filter__list {
	list-style: none;
	padding: 0;
	margin: -1px 0 0 0;
}

.filter__label {
	position: relative;
	padding-left: 36px;
}

.filter__label::before {
	content: '';
	position: absolute;
	background-position: 0 0;
	background-repeat: no-repeat;
	opacity: 0.4;
}

.filter-checkbox {
	padding-top: 1px;
	padding-bottom: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.filter-checkbox .filter__label::before {
	top: 0;
	left: 0;
	width: 25px;
	height: 23px;
	border-radius: 3px;
	background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z' fill='%234D4D4D'/%3E%3C/svg%3E%0A");
}

.filter-checkbox input:checked + .filter__label::before {
	top: 0;
	left: 0;
	width: 25px;
	height: 23px;
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='23' viewBox='0 0 25 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.95925 8.48591L4.25684 11.3149L11.6916 19.0979L25.0002 5.16591L22.2988 2.33691L11.6916 13.4389L6.95925 8.48591Z' fill='%234D4D4D'/%3E%3Cpath d='M21 20C21 20.542 20.542 21 20 21H3C2.458 21 2 20.542 2 20V3C2 2.458 2.458 2 3 2H19.908L21.493 0.415C21.041 0.146542 20.5257 0.00329969 20 0H3C1.35 0 0 1.35 0 3V20C0 21.65 1.35 23 3 23H20C21.65 23 23 21.65 23 20V10.171L21 12.171V20Z' fill='%234D4D4D'/%3E%3C/svg%3E");
}

.filter-checkbox input:focus + .filter__label::before {
	opacity: 1;
}

.filter-checkbox input:disabled + .filter__label {
	opacity: 0.3;
}

.filter-checkbox input:disabled + .filter__label::before {
	opacity: 0.1;
}

.filter-radio {
	padding-bottom: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.filter-radio .filter__label::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 25px;
	height: 25px;
	border: 4px solid var(--grey-750);
	border-radius: 50%;
}

.filter-radio input:checked + .filter__label::before {
	background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 9C6.98528 9 9 6.98528 9 4.5C9 2.01472 6.98528 0 4.5 0C2.01472 0 0 2.01472 0 4.5C0 6.98528 2.01472 9 4.5 9Z' fill='%234D4D4D'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center;
}

.filter-radio input:focus + .filter__label::before {
	opacity: 1;
}

.filter-radio input:disabled + .filter__label {
	opacity: 0.3;
}

.filter-radio input:disabled + .filter__label::before {
	opacity: 0.1;
}

.form-filter__button {
	width: 100%;
	max-width: 260px;
	margin-top: 31px;
}

.sort {
	padding: 18px 0 0;
	grid-column: 2 / -1;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto 40px -webkit-min-content;
	-ms-grid-columns: auto 40px min-content;
	grid-template-columns: auto -webkit-min-content;
	grid-template-columns: auto min-content;
	gap: 40px;
}

.catalog {
	grid-column: 2 / -1;
}

.sort .title-uppercase,
fieldset:first-child .title-uppercase {
	margin-bottom: 48px;
}

.catalog__list {
	list-style: none;
	padding: 0;
	margin: 0 0 21px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.card {
	width: 358px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 40px;
	margin: 0 43px 34px 0;
	background-color: var(--grey-100);
	border-radius: 5px;
	position: relative;
}

.card:nth-child(2n) {
	margin-right: 0;
}

.card::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 358px;
	height: 40px;
	border-radius: 5px 5px 0 0;
	background-color: var(--grey-100);
	background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 9C6.98528 9 9 6.98528 9 4.5C9 2.01472 6.98528 0 4.5 0C2.01472 0 0 2.01472 0 4.5C0 6.98528 2.01472 9 4.5 9Z' fill='%23ee6a5e'/%3E%3C/svg%3E"),
	url("data:image/svg+xml,%3Csvg viewBox='0 0 9 9' fill='yellow' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 9C6.98528 9 9 6.98528 9 4.5C9 2.01472 6.98528 0 4.5 0C2.01472 0 0 2.01472 0 4.5C0 6.98528 2.01472 9 4.5 9Z' fill='%23f5be4f'/%3E%3C/svg%3E"),
	url("data:image/svg+xml,%3Csvg viewBox='0 0 9 9' fill='green' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 9C6.98528 9 9 6.98528 9 4.5C9 2.01472 6.98528 0 4.5 0C2.01472 0 0 2.01472 0 4.5C0 6.98528 2.01472 9 4.5 9Z' fill='%235fc555'/%3E%3C/svg%3E");
	background-size: 14px 14px,
	14px 14px,
	14px 14px;
	background-position: 13px 13px,
	36px 13px,
	59px 13px;
	background-repeat: no-repeat;
}

.card__description {
	position: absolute;
	bottom: 0;
	background-color: var(--grey-100);
	width: 100%;
	padding: 6px 20px 20px 22px;
	text-align: center;
	line-height: 18px;
	color: var(--grey-700);
	border-radius: 0 0 5px 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.card.active,
.card:hover {
	-webkit-box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.card.active::before,
.card:hover::before {
	background-color: var(--grey-750);
}

.card.active .card__description,
.card:hover .card__description,
.card:focus-within .card__description {
	clip: inherit;
	width: 100%;
	height: auto;
	margin: auto;
}

.card__title {
	margin: 20px auto 13px;
}

.card__title a:hover {
	color: var(--red);
}

.card__title a:focus {
	color: var(--red);
	outline: none;
}

.card__title a:active {
	color: var(--black);
	opacity: 0.3;
}

.card img {
	border-radius: 0 0 5px 5px;
	width: 358px;
	height: 578px;
	-o-object-fit: contain;
	object-fit: contain;
	background-color: var(--grey-100);
}

.card__button {
	margin: 16px auto 21px;
	width: 200px;
}

.button--grey {
	background-color: var(--grey-100);
	color: var(--black);
	max-width: 260px;
}

.button--grey:hover {
	background-color: var(--grey-400);
}

.button--grey:active {
	background-color: var(--grey-450);
	color: var(--grey-550);
	-webkit-box-shadow: inset 0 3px 0 var(--grey-250);
	box-shadow: inset 0 3px 0 var(--grey-250);
}

.card .button:active {
	color: var(--white);
}

.sort__list {
	list-style: none;
	padding: 0;
	margin: 1px 0 16px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	min-width: 360px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.sort__item {
	text-align: left;
	padding: 2px 0 0 0;
	margin-right: 13px;
}

.sort__item-up-down {
	padding: 0;
	margin-right: 0;
	margin-left: auto;
	min-width: 42px;
}

.sort__link {
	font-size: 14px;
	line-height: 18px;
	color: var(--black);
	opacity: 0.3;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	padding-right: 14px;
}

.sort__item .up, .sort__item .down {
	text-align: right;
	margin-right: 0;
}

li.sort__item .down {
	margin-right: 10px;
}

.sort__link.up,
.sort__link.down {
	width: 11px;
	height: 11px;
	background: url(../img/icons/up.svg) center no-repeat;
	display: inline-block;
	opacity: 0.2;
}

.sort__link.down {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	opacity: 1;
}

.sort__link:hover {
	opacity: 0.6;
}

.current .sort__link,
.sort__link:focus,
.sort__link:active {
	opacity: 1;
}

.sort__link:focus {
	outline: none;
}

/* footer */
.footer {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	grid-area: footer;
	padding-bottom: 68px;
}

.map {
	height: 416px;
	background-image: url("../img/contacts.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 54px 0;
	position: relative;
}

.map-iframe {
	width: 100%;
	height: 416px;
	position: absolute;
	border: none;
}

.map-wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.contact-card {
	background-color: var(--white);
	color: var(--grey-700);
	line-height: 18px;
	padding: 49px 50px 47px;
	width: 319px;
}

.contact-card p {
	margin-bottom: 2px;
}

.contact__title {
	margin-bottom: 23px;
}

.contact-card__link {
	display: block;
	color: var(--grey-700);
	text-decoration: none;
	padding: 10px 0;
	margin-top: 9px;
	margin-bottom: 26px;
}

.contact-card__link:hover {
	color: var(--red);
}

.contact-card__link:focus {
	color: var(--red);
	outline: none;
}

.contact-card__link:active {
	color: var(--grey-750);
}

.balloon {
	display: none;
}

/* social-networks */
.social-networks {
	padding-top: 68px;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 36px 1fr 36px 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: start;
	gap: 36px;
}

.footer__text {
	line-height: 16px;
	grid-column: 2 / -1;
}

.footer__text p {
	margin: 7px 0 13px 0;
}

.footer__title {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: var(--black);
	margin: 0;
	padding: 0;
}

.social-networks__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.social-networks__link {
	width: 81px;
	height: 81px;
	margin-right: 9px;
	border-radius: 50%;
	background-color: var(--grey-200);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.social-networks__link:hover {
	background-color: var(--red-hover);
}

.social-networks__link:focus {
	outline: none;
	background-color: var(--red-hover);
}

.social-networks__link:active {
	background-color: var(--red-active);
	-webkit-box-shadow: inset 0 3px 0 var(--grey-250);
	box-shadow: inset 0 3px 0 var(--grey-250);
}

.social-networks__link:active img {
	opacity: 0.3;
}

/* modal */
.modal {
	visibility: hidden;
	width: 960px;
	padding: 63px 60px 84px 100px;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: #FFFFFF;
	-webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.modal--show {
	-webkit-animation: slide-from-left 1s;
	animation: slide-from-left 1s;
	visibility: visible;
}

.modal--error {
	-webkit-animation: shake 0.6s;
	animation: shake 0.6s;
}

.modal--close {
	-webkit-animation: slide-to-left 1s;
	animation: slide-to-left 1s;
}

.modal-head {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 0 28px;
	width: 770px;
}

.modal__title {
	font-size: 45px;
	line-height: 53px;
	padding-right: 40px;
	margin: 0;
}

.modal fieldset {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 9px 0;
	border: none;
	margin: 0;
}

.modal__label {
	line-height: 18px;
	font-weight: bold;
}

.modal__input,
.modal__text {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: solid 2px var(--grey-300);
	border-radius: 3px;
	min-width: 360px;
	line-height: 18px;
	padding: 14px 16px 14px;
	margin: 9px 0 16px;
}

.modal__text {
	min-width: 760px;
	min-height: 118px;
	resize: none;
}

.modal__input:hover,
.modal__text:hover {
	border-color: var(--grey-500);
}

.modal__input:focus,
.modal__text:focus {
	border-color: var(--black);
	outline: none;
}

.modal__input.error,
.modal__text.error {
	color: var(--red-hover);
	border-color: var(--red-hover);
}

.modal__input::-webkit-input-placeholder,
.modal__text::-webkit-input-placeholder {
	color: var(--grey-600);
}

.modal__input::-moz-placeholder,
.modal__text::-moz-placeholder {
	color: var(--grey-600);
}

.modal__input:-ms-input-placeholder,
.modal__text:-ms-input-placeholder {
	color: var(--grey-600);
}

.modal__input::-ms-input-placeholder,
.modal__text::-ms-input-placeholder {
	color: var(--grey-600);
}

.modal__input::-webkit-input-placeholder,
.modal__text::-webkit-input-placeholder {
	color: var(--grey-600);
}

.modal__input::-moz-placeholder,
.modal__text::-moz-placeholder {
	color: var(--grey-600);
}

.modal__input:-ms-input-placeholder,
.modal__text:-ms-input-placeholder {
	color: var(--grey-600);
}

.modal__input::-ms-input-placeholder,
.modal__text::-ms-input-placeholder {
	color: var(--grey-600);
}

.modal__input::-webkit-input-placeholder, .modal__text::-webkit-input-placeholder {
	color: var(--grey-600);
}

.modal__input::-moz-placeholder, .modal__text::-moz-placeholder {
	color: var(--grey-600);
}

.modal__input:-ms-input-placeholder, .modal__text:-ms-input-placeholder {
	color: var(--grey-600);
}

.modal__input::-ms-input-placeholder, .modal__text::-ms-input-placeholder {
	color: var(--grey-600);
}

.modal__input::placeholder,
.modal__text::placeholder {
	color: var(--grey-600);
}

.modal__input:hover::-webkit-input-placeholder,
.modal__text:hover::-webkit-input-placeholder {
	color: var(--grey-600);
}

.modal__input:hover::-moz-placeholder,
.modal__text:hover::-moz-placeholder {
	color: var(--grey-600);
}

.modal__input:hover:-ms-input-placeholder,
.modal__text:hover:-ms-input-placeholder {
	color: var(--grey-600);
}

.modal__input:hover::-ms-input-placeholder,
.modal__text:hover::-ms-input-placeholder {
	color: var(--grey-600);
}

.modal__input:hover::-webkit-input-placeholder,
.modal__text:hover::-webkit-input-placeholder {
	color: var(--grey-600);
}

.modal__input:hover::-moz-placeholder,
.modal__text:hover::-moz-placeholder {
	color: var(--grey-600);
}

.modal__input:hover:-ms-input-placeholder,
.modal__text:hover:-ms-input-placeholder {
	color: var(--grey-600);
}

.modal__input:hover::-ms-input-placeholder,
.modal__text:hover::-ms-input-placeholder {
	color: var(--grey-600);
}

.modal__input:hover::-webkit-input-placeholder, .modal__text:hover::-webkit-input-placeholder {
	color: var(--grey-600);
}

.modal__input:hover::-moz-placeholder, .modal__text:hover::-moz-placeholder {
	color: var(--grey-600);
}

.modal__input:hover:-ms-input-placeholder, .modal__text:hover:-ms-input-placeholder {
	color: var(--grey-600);
}

.modal__input:hover::-ms-input-placeholder, .modal__text:hover::-ms-input-placeholder {
	color: var(--grey-600);
}

.modal__input:hover::placeholder,
.modal__text:hover::placeholder {
	color: var(--grey-600);
}

.modal__input:focus::-webkit-input-placeholder,
.modal__text:focus::-webkit-input-placeholder {
	color: var(--grey-800);
}

.modal__input:focus::-moz-placeholder,
.modal__text:focus::-moz-placeholder {
	color: var(--grey-800);
}

.modal__input:focus:-ms-input-placeholder,
.modal__text:focus:-ms-input-placeholder {
	color: var(--grey-800);
}

.modal__input:focus::-ms-input-placeholder,
.modal__text:focus::-ms-input-placeholder {
	color: var(--grey-800);
}

.modal__input:focus::-webkit-input-placeholder, .modal__text:focus::-webkit-input-placeholder {
	color: var(--grey-800);
}

.modal__input:focus::-moz-placeholder, .modal__text:focus::-moz-placeholder {
	color: var(--grey-800);
}

.modal__input:focus:-ms-input-placeholder, .modal__text:focus:-ms-input-placeholder {
	color: var(--grey-800);
}

.modal__input:focus::-ms-input-placeholder, .modal__text:focus::-ms-input-placeholder {
	color: var(--grey-800);
}

.modal__input:focus::placeholder,
.modal__text:focus::placeholder {
	color: var(--grey-800);
}

.modal__button {
	max-width: 260px;
	width: 260px;
	margin-top: 18px;
}

.close {
	width: 21px;
	height: 21px;
	background: url(../img/icons/close.svg) center no-repeat;
	border: none;
	cursor: pointer;
	opacity: 0.3;
}

.close:hover {
	opacity: 1;
}

.close:active {
	opacity: 0.1;
}

/* Animations */

@-webkit-keyframes bounce {
	0% {
		top: -500%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	
	70% {
		top: -500%;
		-webkit-transform: translate(-50%, calc(100px - 50%));
		transform: translate(-50%, calc(100px - 50%));
	}
	
	90% {
		top: 50%;
		-webkit-transform: translate(-50%, calc(-40px - 50%));
		transform: translate(-50%, calc(-40px - 50%));
	}
	
	100% {
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

@keyframes bounce {
	0% {
		top: -500%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	
	70% {
		top: -500%;
		-webkit-transform: translate(-50%, calc(100px - 50%));
		transform: translate(-50%, calc(100px - 50%));
	}
	
	90% {
		top: 50%;
		-webkit-transform: translate(-50%, calc(-40px - 50%));
		transform: translate(-50%, calc(-40px - 50%));
	}
	
	100% {
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

@-webkit-keyframes shake {
	0%,
	100% {
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	
	10%,
	30%,
	50%,
	70%,
	90% {
		top: 50%;
		-webkit-transform: translate(calc(-50% + 3px), -50%) rotate(-0.1deg);
		transform: translate(calc(-50% + 3px), -50%) rotate(-0.1deg);
	}
	
	20%,
	40%,
	60%,
	80% {
		top: 50%;
		-webkit-transform: translate(calc(-50% - 3px), -50%) rotate(0.1deg);
		transform: translate(calc(-50% - 3px), -50%) rotate(0.1deg);
	}
}

@keyframes shake {
	0%,
	100% {
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	
	10%,
	30%,
	50%,
	70%,
	90% {
		top: 50%;
		-webkit-transform: translate(calc(-50% + 3px), -50%) rotate(-0.1deg);
		transform: translate(calc(-50% + 3px), -50%) rotate(-0.1deg);
	}
	
	20%,
	40%,
	60%,
	80% {
		top: 50%;
		-webkit-transform: translate(calc(-50% - 3px), -50%) rotate(0.1deg);
		transform: translate(calc(-50% - 3px), -50%) rotate(0.1deg);
	}
}


@-webkit-keyframes slide-to-left {
	0%
	{
		-webkit-transform:translate(-50%, -50%);
		transform:translate(-50%, -50%);
		visibility: visible;
	}
	10% {
		left: -20%;
	}
	
	30% {
		left: -50%
	}
	
	100%
	{
		left: -200%;
	}
}


@keyframes slide-to-left {
	0%
	{
		-webkit-transform:translate(-50%, -50%);
		transform:translate(-50%, -50%);
		visibility: visible;
	}
	10% {
		left: -20%;
	}
	
	30% {
		left: -50%
	}
	
	100%
	{
		left: -200%;
	}
}

@-webkit-keyframes slide-from-left {
	0% {
		left: -200%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	
	70% {
		left: -50%;
	}
	
	90% {
		left: -20%;
	}
	
	100% {
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		visibility: visible;
	}
}

@keyframes slide-from-left {
	0% {
		left: -200%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	
	70% {
		left: -50%;
	}
	
	90% {
		left: -20%;
	}
	
	100% {
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		visibility: visible;
	}
}