/* Variables */
:root {
    --black: #000000;
    --grey-900: #283136;
    --grey-800: #444444;
    --grey-700: #666666;
    --grey-600: rgba(68, 68, 68, 0.5);
    --grey-550: rgba(0, 0, 0, 0.3);
    --grey-500: #b4b9bb;
    --grey-470: #c1c1c1;
    --grey-450: #d5d5d5;
    --grey-410: #dbdbdb;
    --grey-400: #dfdfdf;
    --grey-300: #d7dcde;
    --grey-250: rgba(0, 1, 1, 0.1);
    --grey-200: #e1e1e1;
    --grey-100: #eeeeee;
    --white-active: rgba(255, 255, 255, 0.3);
    --white: #ffffff;
    --red-active: #d7373b;
    --red-hover: #e74246;
    --red: #fb565a;
    --green-active: #00aa62;
    --green-hover: #00bc6c;
    --green: #00ca74;
    --yellow-active: #e5a722;
    --yellow-hover: #eab534;
    --yellow: #efc849;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/roboto.woff2") format("woff2"),
         url("../fonts/roboto.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/robotomedium.woff2") format("woff2"),
         url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/robotobold.woff2") format("woff2"),
         url("../fonts/robotobold.woff") format("woff");
}

* {
    box-sizing: content-box;
}

.body {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-900);
    background-color: var(--white);
    min-width: 1200px;
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-rows:
        min-content
        1fr
        min-content;
    min-height: 100vh;
}

.wrapper {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: var(--grey-100);
    width: 100%;
    padding-top: 48px;
    grid-area: header;
}

.main-header {
    background-color: var(--grey-100);
    height: 235px;
    width: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
}

.main-header-wrapper {
    text-align: center;
}

.title-uppercase {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--black);
}

.title-uppercase a {
    text-decoration: none;
    color: var(--black);
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 160px;
    max-width: 240px;
    height: 50px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--red-hover);
}

.button:active {
    background-color: var(--red-active);
    color: var(--white-active);
    box-shadow: inset 0 3px 0 var(--grey-250);
}

.form-filter__button {
    background-color: var(--grey-100);
    color: var(--black);
}

/* main */
.main {
    grid-area: content;
}

.main__title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--black);
}

/* menu */
.main-nav {
    display: grid;
    grid-template-columns: 160px 1fr 160px;
    width: 1160px;
    margin: 0 auto;
    gap: 40px;
}

.main-nav__list {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-header__logo {
    justify-self: left;
}

.main-header__logo:hover img {
    opacity: 0.7;
}

.main-header__logo:active img {
    opacity: 0.3;
}

.main-nav__link,
.main-nav__cart {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--black);
    text-decoration: none;
    display: inline-block;
    padding: 20px 0 13px;
}

.main-nav__cart {
    text-align: right;
}

.main-nav__link:hover,
.main-nav__cart:hover {
    color: var(--red);
}

.main-nav__link:active,
.main-nav__cart:active {
    color: var(--grey-550);
}

.main-nav__link.current,
.main-nav__cart.current {
    border-bottom: solid 2px var(--red);
}

/* pagination */
.pagination {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 50px) 1fr;
    gap: 11px;
    padding-left: 0;
}

.pagination__link {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: var(--grey-100);
    color: var(--black);
    border-radius: 3px;
    text-decoration: none;
}

.pagination__link:hover {
    background: var(--grey-400);
}

.pagination__link:active {
    background: var(--grey-450);
    box-shadow: inset 0 3px 0 var(--grey-250);
    color: var(--grey-550);
}

.pagination__link.current {
    background: transparent;
    border: 3px solid var(--grey-410);
    color: var(--black);
    box-shadow: none;
    box-sizing: border-box;
    cursor: default;
}

/* slider */
.slider {
    background-color: var(--grey-100);
    margin: 0 auto;
}

.slider__item {
    display: none;
}

.slider__item.current {
    display: block;
}

.slider__title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    margin: 0;
}

.slider__pagination-list {
    grid-template-columns: repeat(3, 18px);
    gap: 17px;
}

.slider-pagination__link {
    width: 18px;
    height: 18px;
    font-size: 0;
    background-color: var(--white);
    border-radius: 50%;
}

.slider-pagination__link.current {
    background-color: var(--white);
    border: none;
}

.slider-pagination__link.current::after {
    content: '';
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border: 2px solid var(--grey-470);
    border-radius: 50%;
}

/* about */
.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.about-text {
    grid-column: 1 / 3;
}

.about__title {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--black);
}

.about__subtitle {
    text-transform: uppercase;
    font-weight: 700;
}

.about__list {
    padding-left: 0;
}

.about__item {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
}

.about__item::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 2px;
    margin-right: 7px;
    background-color: var(--red);
}

/* infographics */
.about__feature {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
}

.about__feature dd {
    grid-row: 2 / 3;
    margin-left: 0;
}

.about-infographics__title {
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
    color: var(--black);
}

.about-infographics__title sup {
    font-size: 26px;
    line-height: 40px;
}

.about-infographics__text {
    line-height: 18px;
}

/* service */
.service__title {
    font-size: 24px;
    line-height: 30px;
}

.service__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    list-style: none;
    padding-left: 0;
}

.button--green {
    background-color: var(--green);
}

.button--green:hover {
    background-color: var(--green-hover);
}

.button--green:active {
    background-color: var(--green-active);
    color: var(--white-active);
    box-shadow: inset 0 3px 0 var(--grey-250);
}

.button--yellow {
    background-color: var(--yellow);
}

.button--yellow:hover {
    background-color: var(--yellow-hover);
}

.button--yellow:active {
    background-color: var(--yellow-active);
    color: var(--white-active);
    box-shadow: inset 0 3px 0 var(--grey-250);
}

/* clients */
.clients {
    border-top: solid 2px var(--grey-100);
    border-bottom: solid 2px var(--grey-100);
}

.clients__list {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-items: center;
    align-items: baseline;
}

.clients__item {
    padding: 40px 0;
    align-self: center;
}

.clients__img {
    opacity: 0.2;
}

.clients__img:hover {
    opacity: 1;
}

.clients__img:active {
    opacity: 0.1;
}

/* catalog */
.catalog-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
}

.filter {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.sort {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 200px 1fr;
}

.catalog {
    grid-column: 2 / -1;
}

.catalog-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--black);
}

.catalog-list {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 40px;
}

.button--grey {
    background-color: var(--grey-100);
    color: var(--black);
}

.button--grey:hover {
    background-color: var(--grey-400);
}

.button--grey:active {
    background-color: var(--grey-450);
    color: var(--grey-550);
    box-shadow: inset 0 3px 0 var(--grey-250);
}

.sort__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 60px 60px;
    list-style: none;
    padding: 0;
    align-items: center;
}

.sort__link {
    font-size: 14px;
    line-height: 18px;
    color: var(--black);
    opacity: 0.3;
    text-transform: uppercase;
    text-decoration: none;
}

.sort__link.up,
.sort__link.down {
    font-size: 0;
    width: 11px;
    height: 11px;
    background: url(../img/icons/up.svg) center no-repeat;
    display: inline-block;
}

.sort__link.down {
    transform: rotate(180deg);
}

.sort__link:hover {
    opacity: 0.6;
}

.sort__link.current,
.sort__link:active {
    opacity: 1;
}

/* footer */
.footer {
    padding-bottom: 68px;
    grid-area: footer;
}

.footer__text {
    line-height: 16px;
}

.footer__text p {
    margin: 10px 0 0;
}

.footer__title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: var(--black);
    margin: 0;
}

.contact-card {
    color: var(--grey-700);
    line-height: 18px;
}

.contact-card__link {
    color: var(--grey-700);
    text-decoration: none;
}

/* social-networks */
.social-networks {
    width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 40px;
}

.footer__text {
    grid-column: 2 / -1;
}

.social-networks__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.social-networks__link {
    width: 81px;
    height: 81px;
    margin-right: 9px;
    border-radius: 50%;
    background: linear-gradient(0deg, var(--grey-200), var(--grey-200)), var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-networks__link:hover {
    background: linear-gradient(0deg, var(--red-hover), var(--red-hover)), var(--white);
}

.social-networks__link:active {
    background: linear-gradient(0deg, var(--red-active), var(--red-active)), var(--white);
    box-shadow: inset 0 3px 0 var(--grey-250);
}

.social-networks__link:active img {
    opacity: 0.3;
}

/* modal */
.modal {
    display: none;
}

.modal__title {
    font-size: 45px;
}

.modal__label {
    line-height: 18px;
    font-weight: bold;
}

.modal__input,
.modal__textarea {
    box-sizing: border-box;
    border: solid 2px var(--grey-300);
    border-radius: 3px;
    min-width: 360px;
    line-height: 18px;
    padding: 16px;
}

.modal__textarea {
    min-width: 760px;
    min-height: 118px;
}

.modal__input:hover,
.modal__textarea:hover {
    border-color: var(--grey-500);
}

.modal__input:focus,
.modal__textarea:focus {
    border-color: var(--black);
}

.modal__input.error,
.modal__textarea.error {
    color: var(--red-hover);
    border-color: var(--red-hover);
}

.modal__input::placeholder,
.modal__textarea::placeholder {
    color: var(--grey-600);
}

.modal__input:hover::placeholder,
.modal__textarea:hover::placeholder {
    color: var(--grey-600);
}

.modal__input:focus::placeholder,
.modal__textarea:focus::placeholder {
    color: var(--grey-800);
}


.close {
    font-size: 0;
    width: 21px;
    height: 21px;
    background: url(../img/icons/close.svg) center no-repeat;
    border: none;
    cursor: pointer;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:active {
    opacity: 0.1;
}